<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @product_detail.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product_detail.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product_detail.weight %>
</p>

<p>
  <strong>Regular price:</strong>
  <%= @product_detail.regular_price %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @product_detail.selling_price %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @product_detail.stock_quantity %>
</p>

<p>
  <strong>Picture:</strong>
</p>

