<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @product_detail.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product_detail.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product_detail.weight %>
</p>

<p>
  <strong>Regular price:</strong>
  <%= @product_detail.regular_price %>
</p>

<p> 
  <strong>Selling price:</strong>
  <%= @product_detail.selling_price %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @product_detail.stock_quantity %>
</p>

<p>
  <strong>Picture:</strong>
  <% if @product_detail.product_image? %>
  <%= image_tag @product_detail.product_image.url,  :size =>'320x480' %>
<% end %>
</p>
 
<p>
  <%= form_with(url: "/add_item", local: true) do |form| %>
    <button>カートに追加する</button>
    <input type="number" name="order_quantity">
    <input type="hidden" name="product_detail_id" value="<%= @product_detail.id %>">
  <% end %>
</p>

<% Cart.all.each do |cart| %>
  <%= cart.user_id %>
  <%= cart.product_detail_id %>
  <%= cart.order_quantity %><br>
<% end %>


<p>
  <%= link_to 'edit', "/products/#{params[:product_id]}/product_details/#{@product_detail.id}/edit" %>
</p>