<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>


<%= link_to '新規商品登録', new_product_path %>
<%= link_to '商品一覧', products_path %>
<%= link_to '新規仕入れ先登録', new_supplier_path %>
<%= link_to '仕入れ先一覧', suppliers_path %>
<%= link_to 'カテゴリー一覧', categories_path %>
<%= link_to 'タグ一覧', tags_path %>





